<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a joke to the book!</title>
</head>
<body>
    <h1>Add a joke to the book!</h1>
    <form action="" method="post">
        <div>
            <label for="setup">Set-up: </label>
            <input name="setup" id="setup" type="text">
        </div>

        <div>
            <label for="punchline">Punchline: </label>
            <input name="punchline" id="punchline" type="text">
        </div>

        <button type="submit">Add your joke!</button>
    </form>
</body>
</html>