<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I don't think a book does this...</title>
</head>
<body>
    <h1>The book doesn't seem to heed your call...</h1>
    <p>{{ err }}</p>
</body>
</html>