<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Script Output</title>
</head>
<body>
    <h1>Joke book: Page {{ id }}</h1>
    <p>{{ setup }}</p>
    <button id="show-punchline" onclick="
    document.getElementById('punchline').style.display = '';
    document.getElementById('show-punchline').style.display = 'none';
    ">Show the punchline!</button>
    <h1 id="punchline" style="display: none"> {{ punchline }}</h1>
</body>
</html>
